*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{height: 100%;}

header{
    background-color: #717C89;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #8AAE5C;
    color: white;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar{
    width: 15%;
    height: 120%;
    background-color: #717C89;
    border-right: 5px solid #8AAE5C;
}

.sidebar h3{
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.sidebar a{
    display: block;
    text-decoration:none;
    margin-top: 10px;
    margin-left: 15px;
    padding-bottom: 10px;
    color: white;
}

.sidebar a:hover{
    color: white;
    font-weight: bold;
}


.content{
    width: 85%;
    background-color: white;
}

.title{
    width: 15%;
    height: 12%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #717C89;
    text-align: center;
}

.content2{
    z-index: 0;
    position: relative;
    width: 98%;
    height: 87%;
    margin-left: 1%;
    margin-top: -7%;
    background-color: #717C89;
}

.content3{
    z-index: 1;
    position: absolute;
    width: 45%;
    height: 70%;
    margin-left: 18%;
    margin-top: -45%;
    background-color: #8AAE5C;
}

.content3 form{
    background-color: #717C89;
    margin: 5px;
    
}

.content3 h3{
    text-align: center;
}

.content3 fieldset{
    border: 0;
}

.content3 .campo{
    margin-bottom: 5px;
    margin-right: 5px;
}

.campo label{
    margin-bottom: 2px;

}

.content3 .botao{
    margin-right: 5px;
    background-color: #8AAE5C;
    color: white;
    cursor: pointer;
}

.top-content{
    z-index: 0;
    margin: 20px;
    padding-top: 20px;
    background-color: #717C89;
    display: flex;
    justify-content: space-between;
}

.top-content button{
    margin-right: 5px;
    background-color: #8AAE5C;
    color: white;
    cursor: pointer;
}

.botaoVoltar a{
    color: white;
    text-decoration: none;
}

.listagem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
}
